@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: conic-gradient(at top right, lightcyan, lightblue);
    color:black;

}
.container
{
    width: 1280px; 
    margin: auto;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: center;
    min-height: 70px;
    padding: 0 20px;
}
#header h2{
font-size: 2rem;
}

.user_input{
    margin-top: 2px;
    width: 480px;
    text-align: center;
}

 .user_input input{
    width: 75%;
    outline: none;
    padding: 8px;
    border: 1px solid lightpink;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} 

.user_input input:focus{
    border: 1px solid lightgreen; 
}
.user_input button{
    cursor: pointer;
    padding: 8px;
    width: fit-content;
    color: black;
     outline: none;

     border: 1px solid lightpink;
}

.user_input button:hover{
    background-color: transparent;
    color: white;
}

#to_do_list{
    width: 500px;
    margin: auto;
}

.item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding: 1rem;
    color: black;
    margin-top: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid blueviolet;
}

.item:hover{
    border: 1px solid lightsalmon;
}

.item:i{
    cursor: pointer;
    margin: 0 5px;
}























